body {
    background-color: #0e1113;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #007BFF;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.label {
    font-size: 16px;
    color: #999999;
}

.input-field {
    background-color: #181c1f;
    color: white;
    border: 1px solid #007BFF;
    border-radius: 5px;
    padding: 10px;
}

.input-field:focus {
    border-color: #0056b3;
}

.friend-box {
    background-color: #0e1113;
    padding: 10px;
    border: 1px solid #0e1113;
    border-radius: 5px;
    margin-bottom: 10px;
}

.friend-box:hover {
    background-color: #181c1f;
}